input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--bg-color-diff) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
}

.input {
    border: 2px solid var(--text-color-diff);
    background-color: var(--bg-color-diff);
    color: var(--text-color);
    padding: 10px;
    font-size: 2rem;
    border-radius: 10px;
    outline: none;
    width: 100%;
}

.input:focus {
    border-color: var(--text-color);
}

.input:active {
    outline: 1px solid var(--text-color);
}

.container {
    position: relative;
    padding-bottom: 8px;
}

.error {
    font-size: 1.2rem;
    font-weight: normal;
    color: #f00;
    position: absolute;
    bottom: -16px;
    left: 30px;
    white-space: nowrap;
}

@media screen and (max-width: 520px) {
    .input {
        font-size: 1rem;
    }
    .error {
        font-size: 0.65rem;
        bottom: -5px;
        left: 0;
    }
}
