.settings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}
.settings_title {
    text-align: center;
    font-size: 3rem;
}
.settings_subtitle {
    font-size: 2rem;
    margin-bottom: 10px;
}
.settings_block {
    display: block;
}
.settings_btn-controls {
    display: flex;
}

.settings_btn-controls > * {
    flex: 1;
}
