.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--bg-color-diff);
}

.links {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.link {
    text-decoration: none;
    color: var(--text-color-diff);
    border: none;
    background-color: transparent;
    font-size: inherit;
}

.link:hover {
    text-decoration: underline;
}

.link:active {
    color: var(--text-color);
}

.active {
    text-decoration: underline;
}

.disabled {
    color: var(--text-color-dis);
}

.disabled:active {
    color: var(--text-color-dis);
}

.disabled:hover {
    text-decoration: none;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.settings {
    display: inline-block;
    line-height: 1;
    font-size: 35px;
    height: 35px;
    width: 35px;
    border: none;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
}

.settings:hover {
    color: #478063;
}
