.checkbox-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 40px;
    /* margin-bottom: 12px; */
    user-select: none;
}
.checkbox {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background-color: var(--text-color);
}

.checkbox-container:hover .checkmark {
    background-color: var(--checkbox-color-hover);
}

.checkbox:checked ~ .checkmark {
    background-color: var(--bg-color-diff);
}

.checkmark::after {
    display: none;
    position: absolute;
    content: "";
    z-index: 10;
    top: 3px;
    left: 3px;
    width: 16px;
    height: 8px;
    border: solid var(--text-color);
    border-width: 0 0 3px 3px;
    transform: rotate(-45deg);
}

.checkbox:checked ~ .checkmark::after {
    display: block;
}

@media screen and (max-width: 410px) {
    .checkbox-container {
        font-size: 1.4rem;
    }
}
