.btn {
    color: var(--text-color);
    background-color: var(--bg-color-diff);
    border: 2px solid var(--bg-color-firm);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn:hover {
    color: var(--bg-color-diff);
    background-color: var(--text-color);
}

.btn:active {
    transform: scale(0.95);
}

.btn:disabled {
    opacity: 0.3;
}

.s {
    padding: 5px;
    font-size: 1rem;
}

.m {
    padding: 10px;
    font-size: 1.5rem;
}

.l {
    padding: 15px;
    font-size: 2rem;
}

.rounded {
    border-radius: 10px;
}

.cube {
    border-radius: 0;
}

.active {
    color: var(--bg-color-diff);
    background-color: var(--text-color);
}

@media screen and (max-width: 520px) {
    .s {
        padding: 3px;
        font-size: 0.5rem;
    }

    .m {
        padding: 6px;
        font-size: 1rem;
    }

    .l {
        padding: 8px;
        font-size: 1.5rem;
    }
}
