.notes-page {
    padding: 10px;
    flex: 1;
    display: flex;
    gap: 30px;
    overflow-y: hidden;
}

.notes-list {
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.notes-list::-webkit-scrollbar {
    border-radius: 4px;
    width: 8px;
    background-color: var(--bg-color-diff);
    overflow: hidden;
}

.notes-list::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 4px;
}

.notes-list > button {
    width: 100%;
    margin-bottom: 10px;
}

.notes-interface-container {
    border: 2px solid var(--text-color);
    border-radius: 10px;
    flex: 1;
}

.error {
    font-size: 1.2rem;
    color: #f30;
}
