.notes-page {
    padding: 10px;
    flex: 1;
    display: flex;
    gap: 0px;
    overflow-y: hidden;
}

.notes-list {
    padding: 10px;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
}

.notes-list::-webkit-scrollbar {
    border-radius: 4px;
    width: 8px;
    background-color: var(--bg-color-diff);
    overflow: hidden;
}

.notes-list::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 4px;
}

.notes-list > button {
    width: 100%;
    margin-bottom: 10px;
}

.notes-interface-container {
    display: block;
    border: 2px solid var(--text-color);
    border-radius: 10px;
    flex: 1;
}

.error {
    font-size: 1.2rem;
    color: #f30;
}

.show-btn {
    margin-top: 20px;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.show-btn:active {
    transform: scale(0.95);
}

@media screen and (max-width: 560px) {
    .notes-list {
        width: 100%;
    }
    .notes-interface-container[hidden="true"] {
        visibility: hidden;
        position: absolute;
        opacity: 0;
    }
    .notes-interface-container[hidden="false"] {
        visibility: visible;
        position: relative;
        opacity: 1;
    }
}
@media screen and (max-width: 520px) {
    .notes-page button {
        font-size: 1.4rem;
    }
    .notes-page textarea {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 410px) {
    .notes-page button {
        font-size: 1.2rem;
    }
    .notes-page textarea {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 340px) {
    .notes-page button {
        font-size: 1rem;
    }
    .notes-page textarea {
        font-size: 1rem;
    }
}
